body {
  font-size: 11px;
  font-family: Verdana, Tahoma, sans-serif;
}

a:link, a:visited, a:active {
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid orange;
  color: green;
  zoom: 1;
  padding-bottom: 1px;
}

a:hover {
  text-decoration: none;
  border-bottom-color: gray;
}

pre {
  overflow: auto;
  height: 200px;
  width: 250px;
}

.clear {
  clear: both;
}

.error {
  text-align: center;
  font-size: 5em;
  width: 700px;
  margin: 100px auto 25px auto;
  border-bottom: 10px solid red;
  padding-bottom: 5px;
}

.maze .header {
  margin-top: 1em;
  margin-bottom: .5em;
}

.maze {
  margin-bottom: .5em;
}

.maze .ascii {
  font-family: courier;
  white-space: pre;
  display: inline;
  background-color: #8c8c80;
  zoom: 1;
}

.maze .ascii .cell {
  font-family: Arial;
  font-size: 9px;
  text-align: center;
  background-color: #fff;
  color: #000;
  float: left;
  height: 10px;
  width: 10px;
}

.maze .ascii .cell.MazeNodeStart {
  background-color: #83c40a;
}

.maze .ascii .cell.MazeNodeEnd {
  background-color: #fe8802;
  color: #fff;
}

.maze .ascii .cell.MazeNodeSpace {
  background-color: #e8d8b0;
}

.maze .ascii .cell.MazeNodeWall {
  background-color: #8f7d59;
}

.maze .ascii .cell.in_path {
  background-color: #f7c200;
}

.maze .ascii .cell.MazeNodeDoors.in_path {
  background-color: #f7e9b7;
}
